<div class="top tar">
  <%= link_to(I18n.t('common.back'), posts_path, {:style=>'border:1px solid #FF0000; margin:3px; color:#FF0000'}) %>
  <% if @post.resolved == false%>
    <% if current_user.id == @post.user_id %>
      <%= link_to(I18n.t('posts.edit'), edit_post_path(@post), {:style=>'border:1px solid #FF0000; margin:3px; color:#FF0000'}) %>
      <%= link_to(I18n.t('posts.resolve'), resolved_post_path(@post), {:style=>'border:1px solid #FF0000; margin:3px; color:#FF0000'}) %>
    <% end %>
    <% if current_user.user_posts.where(post: @post).exists? %>
        <%= link_to(I18n.t('posts.unfollow'), unfollow_post_path(@post), {:style=>'border:1px solid #FF0000; margin:3px; color:#FF0000'}) %>
    <% else %>
        <%= link_to(I18n.t('posts.follow'), follow_post_path(@post), {:style=>'border:1px solid #FF0000; margin:3px; color:#FF0000'}) %>
    <% end %>
  <% end %>
</div>

<div class="list">
  <div class="details">
    <h3><%= @post.header %></h3>
    <hr>
    <p><%= @post.body %></p>
    <hr>
  </div>
  <div class="comments">
    <div class="list">
      <dl>
        <% @post.comments.preload(:rates).each do |comment| %>
          <%= render 'comments/show', comment: comment %>
        <% end %>
      </dl>
    </div>
  </div>
</div>

<% unless current_user.id == @post.user_id %>
  <%= render 'comments/new' %>
<% end %>
